// @import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.border {
  padding: 10px;
  border-color: #ffffff00 !important;

}

.btn {
  margin-right: 10px;
}

.fa {
  margin-right: 10px;
}
button.btn.btn-sm.btn-warning {
  margin: 2%;
}
.card.m-5.p-3 {
  border-color: #faebd700;
}